*{margin:0;padding:0;}
body{font:12px tahoma;color:#333;}
h1{float:left;margin:5px 0 0 10px;}
legend{font:bold 14px tahoma;color:#333;padding:0 5px;}
textarea{width:100%;margin-bottom:5px;}
select{margin-bottom:5px;display:inline;margin-right:10px;}
label{display:block;}
.header{background-color:#00416A;color:#FFF;width:100%;height:40px;margin:0 0 10px 0;}
.header code{float:right;font-size:17px;margin:10px;}
textarea.text{height:130px;}
fieldset.result, fieldset.main-form{padding:10px;float:left;width:75%;}
.main{width:95%;margin-left: auto;margin-right: auto;overflow:hidden;}
.btn{background-color:#00416A;border:0 none;border-radius:10px;color:#FFF;height:30px;margin-top:2px;width:80px;}
fieldset.info{width:19%;float:right;padding:10px;}
fieldset.info p{margin:10px 0;}
fieldset.info cite{font-size:17px;margin:10px 0;}
fieldset.info ul{list-style:none;margin:10px 0;}
.fb-like{padding:0;margin:5px 0;}
table{width:100%;text-align:left;border-collapse:collapse;}
table, th, td{border:1px solid #C0C0C0;}
th, td{padding:5px;}
thead tr{background-color:#00416A;color:#FFF;}
.col-hits{width:200px;}
.odd-line{background-color:#F4F4F4;}
.tooltip{position:absolute;top:0;left:0; z-index:3;display:none;}
