<!DOCTYPE html>
<html>
    <head>
        <title>Text Parser Ruby Gem</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <meta http-equiv="cache-control" content="no-store" />
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="author" content="Frederico de Paula" />
        <meta name="description" content="Text Parser Ruby Gem" />
        <meta name="keywords" content="ruby, gem, text, parser, parse, rails" />
        <meta name="robots" content="all" />
        <meta property="og:title" content="Text Parser Ruby Gem" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://textparser.heroku.com/" />
        <meta property="og:image" content="http://textparser.heroku.com/assets/logo_rubygems.gif" />
        <meta property="og:site_name" content="Text Parser Ruby Gem" />
        <%= stylesheet_link_tag "home" %>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-27565834-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="header">
            <h1>Text Parser Ruby Gem</h1>
            <code>gem install text_parser</code>
        </div>
        <div class="main-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/examples">Examples</a></li>
                <% if @gem_info %>
                  <li><a target="_blank" href="<%= @gem_info["source_code_uri"] %>">Source code</a></li>
                  <li><a target="_blank" href="<%= @gem_info["project_uri"] %>">RubyGems</a></li>
                <% end %>
            </ul>
        </div>
        <div class="main">
            <%= yield %>
        </div>
    </body>
</html>